spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ulearner_dev
    username: ulearner_dev
    password: ulearner_dev
  jpa:
    show-sql: true
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
  file:
    name: logs/ulearner-dev.log

server:
  port: 8080
